# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
server/node_modules

# Build artifacts
dist
dist-ssr
build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Database & Uploads
*.db
*.db-journal
server/dev.db
server/dev.db-journal
server/uploads/*
!server/uploads/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
